@font-face{
   font-family:'chocolate';
   src:url(../Fonts/chocolate/chocolate-webfont.eot); 
   src:url(../Fonts/chocolate/chocolate-webfont.eot?#iefix),
   url(../Fonts/chocolate/chocolate-webfont.woff) format('woff'),
   url(../Fonts/chocolate/chocolate-webfont.ttf) format('truetype'),
   url(../Fonts/chocolate/chocolate-webfont.svg#chocolate) format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{
   font-family:'wolvesymbol';
   src:url(../Fonts/wolvesymbol/wolvesymbol.eot);
   src:url(../Fonts/wolvesymbol/wolvesymbol.eot?#iefix),
   url(../Fonts/wolvesymbol/wolvesymbol.woff) format('woff'),
   url(../Fonts/wolvesymbol/wolvesymbol.ttf) format('truetype'),
   url(../Fonts/wolvesymbol/wolvesymbol.svg#wolvesymbol) format('svg');
font-weight: normal;
font-style: normal;
}



body{
   font-family: 'chocolate';
   font-size: 16px;
   font-size: 100%;
   color: #000;
   font-size: 1em;
   background-color: aliceblue;

}
h1{
   font-family: 'chocolate';
   background-color: aquamarine;
   margin-top: 0%;
   margin-right: 70%;
}

ul{
   padding-left: 0;
   padding-right: 0;
}

ul li{
   list-style: none;
   

  background-color: rgb(141, 95, 39);
  
      margin-right: 90px;
      border: 2px solid red;
      border-radius:15px;
    
   
  
}

ul li::before{
 
   content:"\00A1 \2000  ";
   font-family:'wolvesymbol';
}



#div_wolvesymbol{
   font-family:'wolvesymbol';
   
}





section{
   width: 100%;
   clear: both;
}

aside{
   width: 20%;
   float: left;
   margin-top: 0%;
  
}

nav{
   font-family: 'chocolate';
   font-size: 16px;
   font-size: 100%;
   color: #000;
   font-size: 1em;
  
   background-color: cornflowerblue;
   min-height: 250px;
  
}

#inhalt{
   width: 55%;
   float: left;
   font-size: 16px;
   font-size: 100%;
   color: #000;
   font-size: 1em;
 
   margin-left: 1%;
 
   background-color: rgb(219, 129, 182);
min-height: 250px;

margin-top: 1.5%;


}


#news{ width: 20%;
   float: right;
   min-height: 250px;
background-color: skyblue;
margin-left: 1%;

margin-top: 1.5%;


}






footer{
   font-family: 'chocolate';
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(233, 250, 2);
   color: rgb(248, 12, 12);
   text-align: right;
}


