@font-face{
   font-family:'chocolate';
   src:url(../Fonts/chocolate/chocolate-webfont.eot); 
   src:url(../Fonts/chocolate/chocolate-webfont.eot?#iefix),
   url(../Fonts/chocolate/chocolate-webfont.woff) format('woff'),
   url(../Fonts/chocolate/chocolate-webfont.ttf) format('truetype'),
   url(../Fonts/chocolate/chocolate-webfont.svg#chocolate) format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{
   font-family:'wolvesymbol';
   src:url(../Fonts/wolvesymbol/wolvesymbol.eot);
   src:url(../Fonts/wolvesymbol/wolvesymbol.eot?#iefix),
   url(../Fonts/wolvesymbol/wolvesymbol.woff) format('woff'),
   url(../Fonts/wolvesymbol/wolvesymbol.ttf) format('truetype'),
   url(../Fonts/wolvesymbol/wolvesymbol.svg#wolvesymbol) format('svg');
font-weight: normal;
font-style: normal;
}



body{
   font-family: 'chocolate';
   font-size: 16px;
   font-size: 100%;
   color: #000;
   font-size: 1em;

}
h1{
   font-family: 'chocolate';
}

ul{
   padding-left: 0;
   padding-right: 0;
}

ul li{
   list-style: none;
   

  
  
      margin-right: 90px;
      border: 2px solid red;
      border-radius:15px;
    
   
  
}

ul li::before{
 
   content:"\00A1 \2000  ";
   font-family:'wolvesymbol';
}



#div_wolvesymbol{
   font-family:'wolvesymbol';
   
}





section{
   width: 100%;
   clear: both;
}

aside{
   width: 20%;
   float: left;
}

nav{
   font-family: 'chocolate';
   font-size: 16px;
   font-size: 100%;
   color: #000;
   font-size: 1em;
   margin-top: 20px;
   background-color: cornflowerblue;
}

#inhalt{
   width: 60%;
   float: left;


   font-size: 16px;
   font-size: 100%;
   color: #000;
   font-size: 1em;
   margin-top: 20px;
   margin-left: 10%;
   width: 70%;
   background-color: rgb(219, 129, 182);
min-height: 250px;

}

footer{
   font-family: 'chocolate';
   font-size: 16px;
   font-size: 100%;
   color: #000;
   font-size: 1em;

   margin-top: 20px;
   background-color: cornflowerblue;
   bottom: 0;
   position: fixed;

   text-align: right;
}


