body{
   margin: 0;
   padding: 0;
   font-size:x-large;

   font-size:16px ;
   font-size:100% ;

   background-color: rgb(0, 0, 0);
   color: aliceblue;
 
   font-style: italic;
}


header,aside,nav,section,article,#main,#news,#newstext,footer{
   border: 1px solid rgb(15, 218, 236);
}

h1{
   color: rgb(0,200,0.7);
   text-align: center;
}

aside{
   width: 20%;
   float: left;
   background-color: red;
}
article{
   width: 70%;
   float: left;
   background-color:#c9c9c9;
   margin-left: 2%;
}
#news{
   width: 100%;
   clear: both;
   background: rebeccapurple;
}

ul li {
   list-style:none;
}
aside nav ul li a{
   color:antiquewhite;
   text-decoration: none;
}
aside nav ul li a:hover{
   color: red;
}
footer{
   bottom: 0;
   position: fixed;

}